@import '../../styles/_common';

#iframe-notice {
  box-sizing: border-box;
  padding-top: $header-height;
  width: 100%;
  height: 100vh;
}

.notice-detail {
  box-sizing: border-box;
  padding-top: $header-height;

  .htmlContent {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
