@import '../../styles/_common';

#deposit {
  header > div {
    .drawer-text {
      position: absolute;
      left: 15%;
      top: 28%;
      font-size: $font-title;
      font-weight: 500;
      color: $text-color;
    }
  }

  .drawer-main {
    min-height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .am-drawer-sidebar {
      width: 70%;
      background-color: #fff;
      overflow: auto;
      -webkit-overflow-scrolling: touch;

      .am-list {
        // width: 300px;
        padding: 0;
      }
    }

    section {
      box-sizing: border-box;
      padding: 20px;

      &.content-top {
        width: 70%;
        margin: 3rem auto;
        background: rgba(232, 113, 58, 0.5);
        border-radius: 20px;
        color: #fff;
        padding: 0;

        .segmented-control {
          .am-segment-item {
            border: none;
            background: rgba(232, 113, 58, 0.5);
            color: #fff;
            border-radius: 20px;
            padding: 12px 0;
            font-size: $font-context - 0.1;
          }

          .am-segment-item-selected {
            border-radius: 20px;
            background: rgba(232, 113, 58, 1) !important;
          }
        }
      }

      &.content-middle {
        text-align: center;
        margin: 4rem auto;
        padding: 0 20px;

        .tab-first_h2 {
          font-size: $font-title-s + 0.1;
          color: $text-color;
        }

        .tab-first_p {
          font-size: $font-assistant;
          color: $text-sub-color;
        }
      }

      &.content-bottom {
        ul {
          @include clearList;
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;

          li {
            width: 29%;
            text-align: center;
            padding: 2rem 0;
            border: 2px solid $text-sub-color;
            border-radius: 5px;
            color: $text-sub-color;
            margin-right: 4.3%;
            margin-bottom: 20px;

            &:nth-child(3n) {
              margin-right: 0;
            }

            &.active {
              color: $black;
              border-color: $primary-color;
            }

            span {
              line-height: 2;
              font-size: $font-assistant;
            }
          }
        }

        .fee {
          display: flex;
          flex-direction: column;
          text-align: right;

          > p {
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            font-size: $font-title-s;
            color: #000;
          }

          small {
            color: $text-sub-color;
            font-size: $font-assistant;
          }
        }
      }

      &.content-auth {
        text-align: center;
        font-size: $font-assistant;

        p {
          color: #db3f3e;

          a {
            color: #2564c1;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .drawer-content {
    font-weight: 600;

    .drawer-content__header {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 50px 15px 14px;
      font-size: $font-title-s;

      img {
        width: 1.8rem;
      }
    }

    ul {
      @include clearList;

      li {
        box-sizing: border-box;
        padding: 11px 15px;
        color: #5a5a5a;
        font-size: $font-assistant;

        &:first-child {
          font-size: $font-context;
          color: #35393e;
          border-bottom: 1px solid #9c9cad;
        }

        &.active {
          background: rgba(232, 113, 58, 0.3);
        }
      }
    }
  }

  .ensure-pay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 2;

    .pay-content {
      box-sizing: border-box;
      padding: 20px;

      p {
        display: flex;
        justify-content: space-between;
        color: #25292e;

        &:first-child {
          font-size: $font-title;
        }
      }
    }
  }
}
