@import '../../styles/_common';

#wallet-zbx {
  @include clearFix;
  box-sizing: border-box;
  padding-top: $header-height;
  min-height: 100vh;
  background: rgba(247, 247, 248, 1);

  header {
    background: $white;
  }

  .card {
    padding: 15px 13px;
    background: $white;
  }

  .records {
    @include clearList;
    padding: 14px 0 0;

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 14px;
      padding: 13px 15px;
      background: $white;
      line-height: 1.6;
      font-weight: bold;

      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2.1rem;

        small {
          margin-bottom: 14px;
          color: $text-sub-color;
          font-size: $font-assistant;
        }

        span {
          margin-top: 14px;
          color: #7C7F82;
          font-weight: bold;
          font-size: $font-assistant;
        }
      }

      aside {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-weight: bold;

        span {
          margin-top: 8px;
          font-size: $font-assistant;
          color: #7C7F82;

          &:first-child {
            margin-top: 20px;
          }
        }

        &.orange {
          color: #E8713A;
        }

        &.blue-green {
          color: #36C2CF;
        }
      }
    }
  }
}
