@import '../../styles/_common';

#register {
  position: relative;
  box-sizing: border-box;
  height: 100vh;

  .register-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;

    img {
      width: 13.6rem;
    }

    .text {
      font-size: 2rem;
      font-weight: 500;
      color: $text-color;
    }
  }

  header {
    padding-top: 5rem;
    padding-bottom: 1rem;
  }

  h2 {
    font-size: $font-title-xl;
    font-weight: 400;
  }

  .main-content {
    box-sizing: border-box;
    padding: 0 20px;

    label {
      position: relative;
      width: 100%;
      display: inline-block;
      margin-top: 3rem;

      .input-main {
        width: 100%;
        outline: none;
        padding: 10px 0;
        font-size: 1.3rem;
        @include clearButton;
        border-bottom: 1px solid $black-border-bottom;

        &:focus {
          border-bottom: 2px solid $primary-color;
        }

        &::placeholder {
          color: $black-font-primary;
          font-weight: 500;
        }
      }

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 2.2rem;
        height: 1.3rem;
      }

      .sms-img {
        width: auto;
        height: 100%;
        right: 0;
        margin-top: -2px;
        z-index: 2;
        background: #fff;
      }

      .sms-code {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(50%);
        pointer-events: all;
        z-index: 1;

        &.event-none {
          pointer-events: none;
        }
        span {
          font-weight: 500;
          color: $primary-color;
        }
      }
    }

    p {
      display: flex;
      justify-content: space-between;
      font-size: $font-assistant + 0.1;
      margin-top: 2.5rem;

      a {
        color: $black-font-primary;
        text-decoration: none;
      }
    }
  }
}
